<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Restaurant name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>  
  <div class="field">
    <%= f.label :imageURL, 'Search Page Image' %><br />
    <p class="itemDescription">The image has to be hosted on a site and the URL of the image has to be entered below. </p>
    <%= f.text_field :imageURL %>
  </div>
  <div class="field">
    <%= f.label :detailsImageURL, 'Restuarant Menu Page Title Image' %><br />
    <p class="itemDescription">The image has to be hosted on a site and the URL of the image has to be entered below. </p>
    <%= f.text_field :detailsImageURL %>
  </div>
  <div class="field">
    <%= f.label :deliveryTime, 'Delivery Time in minutes' %><br />
    <%= f.text_field :deliveryTime %> 
  </div>
  <div class="field">
    <%= f.label :phone_number, 'Mobile Number' %><br />
    <p class="itemDescription">Just enter the mobile number, do not add 91 or +91 at the front. Orders will be SMSed to this number.</p>
    <%= f.text_field :phone_number %> 
  </div>
  <div class="field">
    <%= f.label :email_id %><br />
    <%= f.text_field :email_id %> 
  </div>
  <div class="actions">
    <%= f.submit 'Create restaurant', :class => 'large blue awesome' %>
  </div>
<% end %>
