<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :imageURL %><br />
    <%= f.text_field :imageURL %>
  </div>
  <div class="field">
    <%= f.label :detailsImageURL %><br />
    <%= f.text_field :detailsImageURL %>
  </div>
  <div class="field">
    <%= f.label :deliveryTime %><br />
    <%= f.text_field :deliveryTime %> mins
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
