<%=  form_tag restaurants_path, :class =>"form-wrapper cf", :method => :get do%>
  <!--<form class="form-wrapper cf"> -->
  <%= text_field_tag :search, params[:search], :placeholder => "Enter a street name..."%>
  <!--  <input type="text" placeholder="Enter a street name..." id="query" required> -->
    <%= button_tag "Search", :name => nil %>
    <!--<button type="submit">Search</button>-->
  <!--</form>   -->
  <%end%>

<div class="restaurantListFilter">
  <h2 class="filterHeading">Cuisine</h2>
  <ul id="cuisineFilterList">
    <li><a href="#" class="cuisineFilter">Chinese <!--<span class="numberOfItemsInCategory">24</span>--></a></li>
    <li><a href="#" class="cuisineFilter">North Indian<!--<span class="numberOfItemsInCategory">10</span>--></a></li>
    <li><a href="#" class="cuisineFilter">Western<!--<span class="numberOfItemsInCategory">22</span>--></a></li>
    <li><a href="#" class="cuisineFilter">South Indian<!--<span class="numberOfItemsInCategory">18</span>--></a></li>
  </ul>
</div>

<% @restaurants.each do |restaurant| %>
  <div class="restaurants">
      <img src="<%= restaurant.imageURL %>">
      <div class="restaurantDetails">
        <h4><a href="<%= restaurant_path(restaurant) %>"><%= restaurant.name %></a></h4>
        <div class="fixed"></div>
        <p>Delivery time: <%= restaurant.deliveryTime %> mins</p>
        <p class="<%= restaurant.tags %>">Cuisines: <%= restaurant.tags %></p>
      </div>
    </div>
<% end %>

<div class="lightBox">
  <h2>Notify Me</h2>
  <p>We are currently testing this feature. We will let you know as soon as it is live. Leave your email and we will notify you once it is up.</p>
  <form>
    <%= text_field_tag :email, params[:email], :placeholder => "Enter your email..." %>
    <%= button_tag "Notify Me", :name => nil %>
  </form>
</div>

<!--<%= link_to 'New Restaurant', new_restaurant_path %>-->

<% content_for :javascript do %>
<!-- Tracking the lightbox and the people who click it--> 
<script type="text/javascript">
  $(document).ready(function(){
  mixpanel.track("ul#cuisineFilterList a", "Clicked one of the filter links");
  });

</script>


<!-- Light box code -->
<%= javascript_include_tag "jquery.lightbox_me" %>
<script type="text/javascript">
  $(document).ready(function(){
    $("div.lightBox").hide();
    $("ul#cuisineFilterList a").click(function(event){
      event.preventDefault();
      $("div.lightBox").lightbox_me({
        centered: true
      });
    });
  });
  selected
</script>
<%end%>
