<p id="notice"><%= notice %></p>

<div class="restaurantDetailsSummary">
  <!--<img src="<%= @restaurant.detailsImageURL%>">-->
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.tags %></p>
  <div class="clearfix"></div>

  

  <div class="foodMenu">
    <h3>Appetizers</h3>
    <% @menu_items.each do |menu_item| %>
      <p class="menuItemTitle"><%= menu_item.name %> <span class="menuItemPrice"><%= sprintf("%0.02f",
                                                                                             menu_item.price)
      %></span><span class="currencySymbol">Rs. </span></p>
      <p class="menuItemDescription">
        <%= menu_item.description %>
      </p>
		  <%= hidden_field(menu_item.id, menu_item.id, value: menu_item.id)%>
      <a href="#" class="large blue awesome" id="<%=menu_item.id%>">Add to cart</a>
    <% end %>
  </div>

</div>
<div class="cart">
  <h2>Items in cart</h2>
  <ul id="itemsInCart">
    <!-- Todo: Delete this -->
    <li>
      <input class="cart_quantity_input" type="text" value="1">
      Spinach Lasagna
      <span class="menuItemPrice">500.00</span>
      <span class="currencySymbol">Rs. </span>
      <input type="hidden" value="1">
    </li>
    <li>
      <input class="cart_quantity_input" type="text" value="1">
      Chopped Salad
      <span class="menuItemPrice">150.00</span>
      <span class="currencySymbol">Rs. </span>
      <input type="hidden" value="2">
    </li>
    <li>
      <input class="cart_quantity_input" type="text" value="1">
      Nachos
      <span class="menuItemPrice">400.00</span>
      <span class="currencySymbol">Rs. </span>
      <input type="hidden" value="3">
    </li>
  </ul>
  <%= hidden_field("cart_id", 1, value: 0, id: "cart_id_from_server")%>
  <h4 class="reciptTotal">Total: Rs. <span id="reciptTotalValue">0</span></h4>
  <a href="#" class="large orange awesome" id="checkout">Checkout now</a>

  <ul id="result">

  </ul>
</div>

<% content_for :javascript do %>
<%= javascript_include_tag "json2" %>
<script type="text/javascript">

  $("a.blue").click(function(event){
    var id;
    var title;
	  var item_id;
    var total=0;
    var price = 0;
    id = $(this).attr('id');
    event.preventDefault();

    title = $(this).prevAll("p.menuItemTitle");
	  item_id = $(this).prevAll("input:hidden").val();
    price = parseFloat(title.find("span.menuItemPrice").text());
    total = parseFloat($("span#reciptTotalValue").text());
    title = title.html();
    $("#itemsInCart").append('<li>'+'<input type="text" class="cart_quantity_input" value=1>' + title + '<input value='+item_id+ ' type="hidden">' + '</li>');
    total = total + price;
    $("span#reciptTotalValue").text(total.toFixed(2));
    
  })
</script>

  <script type="text/javascript">
	  $(document).ready(function(){
			$("a#checkout").click(function(event){
				var items_in_cart_list = new Array();
				var cart_id_from_server= $('#cart_id_from_server').val();
				var quantities = new Array();
				event.preventDefault();
				$("ul#itemsInCart li").each(function(index){
					var item_id = {"menu_item_id": $('input[type="hidden"]', this).val()};
					var quantity = $('input.cart_quantity_input', this).val();
					items_in_cart_list.push(item_id);
					quantities.push(quantity);
					 //$.post('/line_items',{ menu_item_id: item_id, menu_item_id: item_id},function(data){
						//cart_id_from_server = data;
						//$("#result").append('<li>'+ data + '</li>');
					//});

					//$.ajax({
						//url: '/line_items',
					//success: function(data){
					//$('#result').html(data);
					//alert ("Load was performed and the return data was"+data);
					//}
					//})

				});
				$.post('/line_items',{ menu_item_id: items_in_cart_list, menu_item_quantity: quantities },function(data){
					cart_id_from_server = data;
					$("#result").append('<li>'+ data + '</li>');
				});
				//$.ajax({
					//type:"POST",
					//url:('/line_items'),
					//data:(items_in_cart_list),
					//dataType: "script"
				//});

			});

		});
  </script>


<% end %>

<!--<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> | -->
<!-- <%= link_to 'Back', restaurants_path %> -->
