<p id="notice"><%= notice %></p>

<div class="restaurantDetailsSummary">
  <img src="<%= @restaurant.detailsImageURL%>">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.tags %></p>
  <div class="clearfix"></div>

  

  <div class="foodMenu">
    <h3>Appetizers</h3>
    <% @menu_items.each do |menu_item| %>
      <p class="menuItemTitle"><%= menu_item.name %> <span class="menuItemPrice"><%= sprintf("%0.02f",
                                                                                             menu_item.price)
      %></span><span class="currencySymbol">Rs. </span></p>
      <p class="menuItemDescription">
        <%= menu_item.description %>
      </p>
		  <%= hidden_field(:menu, :menu_item)%>
      <a href="#" class="large blue awesome" id="<%=menu_item.id%>">Add to cart</a>
    <% end %>
  </div>

</div>
<div class="cart">
  <h2>Items in cart</h2>
  <ul id="itemsInCart">
    
  </ul>
  <h4 class="reciptTotal">Total: Rs. <span id="reciptTotalValue">0</span></h4>
  <a href="#" class="large orange awesome" id="checkout">Checkout now</a>
</div>

<% content_for :javascript do %>
<script type="text/javascript">

  $("a.blue").click(function(event){
    var id;
    var title;
    var total=0;
    var price = 0;
    id = $(this).attr('id');
    event.preventDefault();
    title = $(this).prevAll("p.menuItemTitle");
    price = parseFloat(title.find("span.menuItemPrice").text());
    total = parseFloat($("span#reciptTotalValue").text());
    title = title.html();
    $("#itemsInCart").append("<li>"+title+"</li>");
    total = total + price;
    $("span#reciptTotalValue").text(total.toFixed(2));
    
  })
</script>

  <script type="text/javascript">
	  $(document).ready(function(){
			$("a#checkout").click(function(event){
				event.preventDefault();
				data = "test";
				$.post('/line_items',{ menu_item_id:1, menu_item_id:2, cart_id:1} );
			});
	  });
  </script>

<% end %>

<!--<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> | -->
<!-- <%= link_to 'Back', restaurants_path %> -->
