<p id="notice"><%= notice %></p>

<div class="restaurantDetailsSummary">
  <!--<img src="<%= @restaurant.detailsImageURL%>">-->
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.tags %></p>
  <div class="clearfix"></div>

  

  <div class="foodMenu">
    <h3>Appetizers</h3>
    <% @menu_items.each do |menu_item| %>
      <p class="menuItemTitle"><%= menu_item.name %> <span class="menuItemPrice"><%= sprintf("%0.02f",
                                                                                             menu_item.price)
      %></span><span class="currencySymbol">Rs. </span></p>
      <p class="menuItemDescription">
        <%= menu_item.description %>
      </p>
		  <%= hidden_field(menu_item.id, menu_item.id, value: menu_item.id)%>
      <a href="#" class="large blue awesome" id="<%=menu_item.id%>">Add to cart</a>
    <% end %>
  </div>

</div>
<div class="cart">
  <h2>Items in cart</h2>
  <ul id="itemsInCart">
  </ul>
  <%= hidden_field("cart_id", 1, value: 1, id: "cart_id_from_server")%>
  <h4 class="reciptTotal">Total: Rs. <span id="reciptTotalValue">0</span></h4>
  <a href="#" class="large orange awesome" id="checkout">Checkout now</a>

  <div id="result"></div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">

  $("a.blue").click(function(event){
    var id;
    var title;
	  var item_id;
    var total=0;
    var price = 0;
    id = $(this).attr('id');
    event.preventDefault();
    title = $(this).prevAll("p.menuItemTitle");
	  item_id = $(this).prevAll("input:hidden").val();
    price = parseFloat(title.find("span.menuItemPrice").text());
    total = parseFloat($("span#reciptTotalValue").text());
    title = title.html();
    $("#itemsInCart").append('<li>'+'<input type="text" class="cart_quantity_input" value=1>' + title + '<input value='+item_id+ ' type="hidden">' + '</li>');
    total = total + price;
    $("span#reciptTotalValue").text(total.toFixed(2));
    
  })
</script>

  <script type="text/javascript">
	  $(document).ready(function(){
			$("a#checkout").click(function(event){
				var items_in_cart_list;
				event.preventDefault();
				$("ul#itemsInCart li").each(function(index){
					var hidden_value = $('input[type="hidden"]', this).val();
					var quantity = $('input.cart_quantity_input', this).val();
					//alert("Index:"+ index+ ":this:" + $(this).text());
					//alert("Hidden Value:"+hidden_value)
					//alert("Quantity" + quantity);
				});
				var cart_id_from_server= 0;
				alert("It getss to the frist one:"+cart_id_from_server);
				$.post('/line_items',{ menu_item_id:1, cart_id:cart_id_from_server},function(data){
					cart_id_from_server = data;
					$('#result').html(data);
					alert("REturn data:"+cart_id_from_server);
				});
			});

		});
  </script>


<% end %>

<!--<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> | -->
<!-- <%= link_to 'Back', restaurants_path %> -->
